
/* Header */

body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
}

h2,h4 {
  margin: 0px;
  padding: 10px;

}



header {
    width: 100%;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    background-color: black;
  }

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

header img{
  height: 50px;
  padding-left: 10px;
}

nav{
  text-align: right;
  flex-grow: 1;
}


nav a{
  text-decoration: underline;
  color: seashell;
  padding-right: 10px;
}

/* End of header*/

.main{
  width: 1200px;
  opacity: 0.9;
  margin: auto;
}


#mission{
  height: 700px;
  padding-top: 70px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

#store{
  height: 700px;
  padding-top: 70px;
}




#mission .container{
background-color: black;
width: 100%;
}

.item{
  padding: 5px;
}


.item img{
  height: 200px;
  margin: 10px;
}

.item span{
  display: block;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

/* Location Styling */

#loc{
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  padding-top: 70px
  border: 2px solid red;
  background-repeat: no-repeat;
  margin: auto;
  }

.location{
  width: 300px;
  opacity: 1.0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 200px;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
}

/* Contact Secrtion */

#contact{
  height: 200px;
}

footer{
  text-align: left;
  padding-left: 20px;
}
